body{
  background-color: grey;
  background-size: 100% 100%;
}
.header{
    background-image: url("/images/res_background.webp");
    
    background-repeat: no-repeat;
    background-size: 100% 480px;
    
}

li{
  display:inline;
}
.sign_up_btn,
.log_in_btn,
.product_btn{
  float:right;
  padding:5px;
  text-decoration: none;
  color:white;
  font-family: "Metropolis", sans-serif;
  margin-left: 20px;
  margin-right:20px;

  
}
.sign_up_btn:hover,
.log_in_btn:hover,
.product_btn:hover
{
  color:white;
}
.log_in_btn{
  border:1px solid rgb(255, 255, 255);
  border-radius: 5px;
  
}
.sign_up_btn{
  border-radius: 5px;
  border:none;
  width:150px;
  background-color:rgb(39, 129, 231);
  text-align: center;
}


.add_res_nav_bar{
  margin-left: 20%;
  margin-right:20%;
  padding-top:20px;
  
}
.heading_quotes{
  margin-left: 20%;
  margin-top:100px;
  color:white;
  font-family: "Metropolis", sans-serif;
}
.para{
  margin-left: 20%;
  color:white;
  font-family: "Metropolis", sans-serif;
}
.buttons{
  margin-left:20%;
  margin-top:20px;
  width:50%;
  height: 100px;
}
.log_in{
  height: 50px;
  width:100%;
  background-color: rgb(39, 129, 231);
  color:white;
  border-radius:5px;
  border-color: none;
  font-family: "Metropolis", sans-serif;
  border:none;
  margin-top: 2px;
}
.log_in:hover{
  background-color: rgb(85, 150, 224);
}
 /* .grey_border{ 
  background-color:grey;
  height:380px;
  width: 100%;
}  */
.contents{
  padding:32px;
  background-color: white;
  margin-left:20%;
  width:50%;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 10px 10px #888888;
}
.quotes_partner{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Metropolis", sans-serif;
}



.footer {
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 100%;
  }
  .footer_container {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 40px;
    padding-bottom: 22px;
  }
  .footer_header {
    align-items: center;
  }
  .footer_logo {
    height: 28px;
    width: 132px;
  }
  .footer_heading {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .privacy,
  .security,
  .terms,
  .sitemap,
  .zomato_for_work,
  .partner_with_us,
  .apps_for_you,
  .zomato_footer,
  .feeding_india,
  .hyperpure,
  .zomaland,
  .who_we_are,
  .blog,
  .work_with_us,
  .investor_relations_footer,
  .report_fraud,
  .contact_us {
    color: #303030;
    padding-top: 2px;
  }
  .privacy:hover,
  .security:hover,
  .terms:hover,
  .sitemap:hover,
  .zomato_for_work:hover,
  .partner_with_us:hover,
  .apps_for_you:hover,
  .zomato_footer:hover,
  .feeding_india:hover,
  .hyperpure:hover,
  .zomaland:hover,
  .who_we_are:hover,
  .blog:hover,
  .work_with_us:hover,
  .investor_relations_footer:hover,
  .report_fraud:hover,
  .contact_u:hover {
    text-decoration: none;
    font-family: "Metropolis", sans-serif;
  }