/* body {
  font-family: sans-serif;
  background-image: url("/images/background_home.png");
  background-size:1600px 460px;
  background-repeat: no-repeat;
  margin: 0% 15% 0% 15%;
  
}
.logo {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  width: 300px;
  padding: 30px 0px 0px 0px;
}
.quotes {
  color: white;
  font-size: 30px;
  text-align: center;
  font-size:40px;
  padding: 0px 0px 0px 0px;
}
.nb {
  text-align: right;
}
.log_in_button,
.sign_up_button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom:10px;
  cursor: pointer;
}
.search_box {
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 600px;
  height: 55px;
  border-radius: 10px;

}

.location{
  margin-left:5%;

  border: none;
  outline: none;
}
.search {
  margin-left:5%;
  flex: 1;
  border: none;
  outline: none;
}

.order_online, .snacks,.western{
  margin-top: 160px;
  margin-left: 15%;
  height: 180px;
  width:240px;
  border-radius: 20px;
  cursor: pointer;
  
  
} 

.column1,.column2,.column3 {
  float: left;
  width: 33.33%;
  text-align: center;
  
}


.row::after {
  content: "";
  clear: both;
  display: table;
  
}
 */

 body {
  background-image: url("/images/background_home.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;

}
.nb {
  margin-top: 20px;
  margin-right: 15%;
  margin-left: 15%;

}
.get_the_app{
  margin:10px;
}
.get_the_app,
.investor_relations,
.add_restaurant,
.log_in_button,
.sign_up__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.investor_relations,
.add_restaurant,
.log_in_button,
.sign_up__button {
  float: right;
  margin:10px;
}   
.logo,.quotes{
  text-align: center;
  margin-top: 50px;
  color:white;
}
.quotes{
  margin-bottom: 50px;
}
.logo_zomato{
  height: 60px;
  width: 300px;
}
.search_container{
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 600px;
  height: 50px;
  border-radius: 5px;
} 
.search{
  flex: 1;
  width:350px
}
.location{
  width:130px;
}
.location, .search{
  margin-left: 15px;
  border: none;
  outline: none;
}
.body_content{
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
justify-content: center;
display:flex;
  margin-top: 180px;
  
}
.order_online,.snacks,.dining
{
border: 1px solid gray;
height: 200px;
width: 300px;
border-radius: 15px;
background-image: url("/images/order_online.jpg");
background-size: 300px 200px;
text-indent: 5px;
color:#ffffff;

}
